/node_modules
/public/hot
/public/js/app.js
/public/js/app.map.js
/public/js/app.js.map
/public/css/app.css.map
/public/storage
/public/css/app.css
/public/css/vuetify.min.css
/public/mix-manifest.json
/storage/*.key
/vendor
.idea/
composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
resources/js/store/modules/authUser.js
