.v-avatar{
    &.appointmentAvatar{
        width:36px;
        height:36px;
        flex:none;
        margin-right:20px;
    }
}

.appointmentSlot{
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    justify-content:center;
}
