.r-color-picker {
    position: relative;

    .r-color-picker-content {
        position: absolute;
        width: 320px;
        background: #fff;
        height: 310px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .3), 0 4px 8px rgba(0, 0, 0, .3);

        .vc-chrome {
            box-shadow: none;
            position: absolute;
            top: 0;
            width: 100% !important;
            z-index: 1;
        }

        .r-color-choose {
            position: absolute;
            bottom: 0;
            z-index: 2;
            right: 0;
        }
    }
}

