/**
*********************************
    Import font
*********************************
 */
@font-face {
    font-family: CharlesWright;
    src: url('/fonts/CharlesWright-Bold.ttf');
}


/**
*********************************
    Top theme background color
*********************************
 */

 #rhino,
 #rhinoFrontend {
    font-family: 'Source Sans Pro'!important;
}

.theme--light.application{
    background:#fff;
}

.v-text-field__prefix{
  padding-right:25px !important;
}

.r-border-round{
    border-radius: 10px;
}

.rounded-btn {
    padding: 0 3rem;
    border-radius: 16px;
}

.text-white {
    color: #fff!important;
}
