/**
*********************************
    Top theme background color
*********************************
 */
.theme--light.application{
    background:#fff;
}

.v-text-field__prefix{
  padding-right:25px !important;
}

.r-border-round{
    border-radius: 10px;
}

.rounded-btn {
    padding: 0 3rem;
    border-radius: 16px;
}

.text-white {
    color: #fff!important;
}