/**
*********************************
    Import font
*********************************
 */
@font-face {
    font-family: CharlesWright;
    src: url('/fonts/CharlesWright-Bold.ttf');
}


/**
*********************************
    Top theme background color
*********************************
 */

 #rhino,
 #rhinoFrontend {
    font-family: 'Source Sans Pro'!important;
}

.rhinoButton{
    background:#000;
    color:#fff;
}

.theme--light.application{
    background:#fff;
}

.v-text-field__prefix{
  padding-right:25px !important;
}

.r-border-round{
    border-radius: 10px;
}

.rounded-btn {
    padding: 0 3rem;
    border-radius: 16px;
}

.text-white {
    color: #fff!important;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-25 {
    border-radius: 25px;
}
