#inspire.admin-login {
    background-image: radial-gradient(circle at top center, #31393C, #212729 28%)!important;
}

#rhino{
    .header{
        background-image: radial-gradient(circle at top center, #31393C, #212729 28%);
        color:#fff;
        min-height: 60px;
        height: unset!important;

        @media (min-height: 660px){
            min-height: 120px;
        }
    }
}

.r-table th {
    background: #4D4D4D;
    color: #fff!important;
}

.r-table tr {
    border-bottom: 0!important;
    &:nth-child(odd) {
        background: #F7F7F7;
        &:hover {
            background: #F7F7F7!important;
        
        }
    }
    &:nth-child(even) {
        background: #EDEDED;
        &:hover {
            background: #EDEDED!important;
        
        }
    }
}



.v-input.v-text-field.v-text-field--single-line.v-input--is-readonly.theme--light {
    position: relative;
}

.search-guests .v-input__slot {
    border: solid 1px #c7c7c7!important;
}

.dealershipAdminToolbar {
    margin-top: 4%;
    @media (min-width: 768px) {
        margin-top: unset;
    }
}

.brands-carousel .v-image__image {
    background-size: contain!important;
}


.analyticsMetrics {
    .metric {
        width: 100%;
    }
}

// Translation table styling
.translations table thead {
    display: none;
    @media (min-width: 768px) {
        display: table-header-group;
    }
}
.translations table th {
    display: none;
    @media (min-width: 768px) {
        display: table-cell!important;
        width: 50%!important;
    }
}
.translations table td {
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    @media (min-width: 768px) {
        text-align: left;
        display: table-cell;
        width: 50%;
    }

    span.label {
        margin-top: 5px;
        display: block;
        align-self: center;
    }
}
.translations .v-menu__activator a {
    border: solid 1px #c3c3c3;
    text-indent: 15px;
    background:#fefefe;
    height: 40px;
    width: 100%;
    margin: 3px auto;
}