#inspire.admin-login {
    background-image: radial-gradient(circle at top center, #31393C, #212729 28%)!important;
}

#rhino{
    .header{
        background-image: radial-gradient(circle at top center, #31393C, #212729 28%);
        color:#fff;
        min-height: 60px;
        height: unset!important;

        @media (min-height: 660px){
            height: 120px;
        }
    }
}

.r-table th {
    background: #4D4D4D;
    color: #fff!important;
}

.r-table tr {
    border-bottom: 0!important;
    &:nth-child(odd) {
        background: #F7F7F7;
        &:hover {
            background: #F7F7F7!important;
        
        }
    }
    &:nth-child(even) {
        background: #EDEDED;
        &:hover {
            background: #EDEDED!important;
        
        }
    }
}



.v-input.v-text-field.v-text-field--single-line.v-input--is-readonly.theme--light {
    position: relative;
}

.search-guests .v-input__slot {
    border: solid 1px #c7c7c7!important;
}

.dealershipAdminToolbar {
    margin-top: 4%;
    @media (min-width: 768px) {
        margin-top: unset;
    }
}

.brands-carousel .v-image__image {
    background-size: contain!important;
}