#rhino{
    .header{
        background-image: radial-gradient(circle at top center, #31393C, #212729 28%);
        color:#fff;
    }
}

.r-table th {
    background: #4D4D4D;
    color: #fff!important;
}

.r-table tr {
    border-bottom: 0!important;
    &:nth-child(odd) {
        background: #F7F7F7;
        &:hover {
            background: #F7F7F7!important;
        
        }
    }
    &:nth-child(even) {
        background: #EDEDED;
        &:hover {
            background: #EDEDED!important;
        
        }
    }
}


// Date picker styling
.v-input__prepend-outer {
    position: absolute;
    z-index: 1;
    right: 0;
}

.v-input.v-text-field.v-text-field--single-line.v-input--is-readonly.theme--light {
    position: relative;
}