.v-text-field__prefix {
  padding-right: 25px !important;
}

#fileInput {
  display: none;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/**
 Frontend Login
 */

.guest-login {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.guest-login .login-section {
  border-radius: 6px !important;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.guest-login .login-section h2 {
  font-size: 39px;
}

.guest-login .login-section h3 {
  font-size: 20px;
  font-weight: 400;
}

.guest-login .login-section .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  opacity: 0.18;
}

.guest-login .login-section .login-button {
  height: 50px;
  padding: 13px 40px 13px 20px;
  font-size: 18px;
  background-color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 25px;
  opacity: 1;
}

.guest-login .login-section .login-button .v-icon {
  margin-right: 15px;
}

.guest-login .login-section .multi-button {
  height: 36px;
  padding: 5px 20px;
  font-size: 12px;
  background-color: #F4F4F4 !important;
  color: #000000;
  -webkit-box-shadow: 0 9px 44px #0000000F;
          box-shadow: 0 9px 44px #0000000F;
  border: 1px solid #707070;
  border-radius: 18px;
}

.guest-login .login-section .multi-button .v-icon {
  margin-right: 15px;
}

/*
    Model Section
 */

.model-section button.selected {
  background-color: #333C42 !important;
  color: white !important;
}

/**
*   End model section
*/

/*
    Choose time in frontend
 */

.appointmentSlot .slot .v-responsive__content > div {
  min-height: calc(100% - 10px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px !important;
  margin: 5px !important;
  position: relative;
}

.appointmentSlot .slot .available:hover {
  cursor: pointer;
}

.appointmentSlot .slot .unavailable::before,
.appointmentSlot .slot .unavailable::after {
  content: '';
  width: 141%;
  height: 2px;
  position: absolute;
  left: -20.5%;
  top: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #C3C3C3;
}

.appointmentSlot .slot .unavailable::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.appointmentSlot .slot .unavailable h6 {
  color: #C3C3C3;
}

.appointmentSlot .slot .selected:hover {
  cursor: default;
}

.appointmentSlot .slot .selected h6 {
  color: #fff;
}

/**
*   End choose time section
*/

/*
*****************************************
    Calender Component
*****************************************
*/

.calenderComponent .calender.v-card {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.calenderComponent .calender.v-card .v-picker__body {
  background: transparent;
}

.calenderComponent .keys label {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.calenderComponent .keys div {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

/*
*****************************************
    End Calender Component
*****************************************
*/

/*
*****************************************
    SalesPerson Component
*****************************************
*/

.sales-person .v-card {
  width: 100%;
  background: none;
}

.sales-person .v-card .v-card__text {
  padding: 0;
}

.sales-person .v-card .v-card__text .salesperson-container {
  padding: 5px 40px 5px 5px;
  border-radius: 19px;
  cursor: pointer;
}

.sales-person .v-card .v-card__text .salesperson-container:hover {
  cursor: pointer;
}

.sales-person .v-card .v-card__text .salesperson-container.active {
  color: #fff;
}

.sales-person .v-card .v-card__text .salesperson-container .avatar-flex {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 10px;
}

.sales-person .v-card .v-card__text .salesperson-container .text-flex {
  margin: 3.5px 0;
  pointer-events: none;
}

/*
*****************************************
    End SalesPerson Component
*****************************************
*/

/*
*****************************************
    Time Booking Component
*****************************************
*/

.book-step .checkboxes .flex {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.book-step .checkboxes .flex .v-input {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 5px 0 0 0;
}

/*
*****************************************
    End Time Booking Component
*****************************************
*/

.rhinoFrontend .content {
  padding: 0 0 0 280px;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 960px) {
  .rhinoFrontend .content {
    padding-left: 0;
  }
}

.frontend-container {
  padding: 0;
}

.navigation-drawer {
  padding: 30px;
  /* BRAND CAROUSEL */
  /**
    Nav footer
     */
}

.navigation-drawer .brand-carousel {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation-drawer .brand-carousel .v-carousel__controls {
  display: none;
}

.navigation-drawer .event-title {
  font-size: 22px;
  line-height: 28px;
  margin-top: 25px;
}

.navigation-drawer h4 {
  margin-top: 20px;
}

.navigation-drawer .rhinoNavigationStepper {
  width: 100%;
}

.navigation-drawer .rhinoNavigationStepper .v-tabs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 50px;
  height: auto;
}

.navigation-drawer .rhinoNavigationStepper .v-tabs__container .v-tabs__div {
  margin-bottom: 50px;
}

.navigation-drawer .rhinoNavigationStepper .v-tabs__container .v-tabs__div .v-tabs__item {
  padding-left: 0;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}

.navigation-drawer .rhinoNavigationStepper .v-tabs__container .v-tabs__div .v-tabs__item .v-avatar {
  border-radius: 50%;
  border: 1px solid transparent;
  margin-right: 10px;
  height: 26px !important;
  width: 26px !important;
}

.navigation-drawer .rhinoNavigationStepper .v-tabs__container .v-tabs__div .v-tabs__item .link {
  height: 62px;
  content: '';
  width: 1px;
  position: absolute;
  top: 32px;
  left: 12.5px;
}

.navigation-drawer .rhinoNavigationStepper .v-tabs__slider-wrapper {
  display: none;
}

.navigation-drawer .flex:last-of-type .flex:first-of-type {
  height: 28px;
  margin: auto 0;
  padding-bottom: 8px;
}

.navigation-drawer .flex:last-of-type .flex:first-of-type h2 {
  margin: 0 !important;
  height: 20px;
  font-size: 20px;
}

.navigation-drawer .flex:last-of-type .flex:first-of-type h2 .v-icon {
  margin: 0px auto 2px 2px;
  font-size: 18px !important;
}

.light-grey {
  background-color: #e6e6e6;
}

.border-medium {
  border: 1px solid #d2d2d2;
}

.rounded-25 {
  border-radius: 25px;
}

.height-50 {
  height: 50px;
}

.grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.padding-l-85 {
  padding-left: 85px;
}

.padding-r-45 {
  padding-right: 45px;
}

.padding-l-35 {
  padding-left: 35px;
}

.theme-color {
  border-color: #cc0000;
}

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
  background: none;
}

/* END OF REMOVE ONCE DYNAMIC */

.theme--light.v-calendar-weekly .v-calendar-weekly__day-month,
.theme--light.v-sheet .v-calendar-weekly__day-month {
  display: none;
}

.theme--light.v-calendar-weekly .v-calendar-weekly__day,
.theme--light.v-sheet .v-calendar-weekly__day {
  border-radius: 50%;
  border: none;
  padding-top: calc(14.3% - 10px);
  width: calc(14.3% - 10px);
  padding-bottom: 0;
  height: 0;
  margin: 5px;
  text-align: center;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.theme--light.v-calendar-weekly .v-calendar-weekly__day .v-calendar-weekly__day-label,
.theme--light.v-sheet .v-calendar-weekly__day .v-calendar-weekly__day-label {
  width: auto;
  height: auto;
  margin: auto;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.theme--light.v-calendar-weekly .v-calendar-weekly__head .v-calendar-weekly__head-weekday,
.theme--light.v-sheet .v-calendar-weekly__head .v-calendar-weekly__head-weekday {
  border: none;
  text-align: center;
  margin: 5px;
  height: auto;
  width: calc(14.3% - 10px);
}

.body-3 {
  font-size: 18px;
  line-height: 18px;
}

.padding-x-85 {
  padding-right: 85px;
  padding-left: 85px;
}

.rounded-20 {
  border-radius: 20px;
}

.theme-fill {
  background-color: #cc0000 !important;
}

.model-section .vehicle {
  border: 2px solid transparent;
  border-radius: 5px;
}

/*
*****************************************
    Frontend Language Select Component
*****************************************
*/

.frontend-language.v-input {
  width: 68px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  cursor: pointer;
}

.frontend-language.v-input .v-select__slot {
  cursor: pointer;
}

.frontend-language.v-input .v-select__slot .v-label {
  display: none;
}

.frontend-language.v-input .v-select__slot .v-icon {
  font-size: 20px;
}

.frontend-language.v-input input {
  cursor: pointer;
}

.frontend-language.v-input .v-input__slot::before,
.frontend-language.v-input .v-input__slot::after {
  display: none;
}

.frontend-language.v-input label {
  font-size: 9pt;
}

.frontend-language.v-input .v-input__icon--append .v-icon {
  font-size: 10px;
}

/*
*****************************************
    End Frontend Language Select Component
*****************************************
*/

/*
*****************************************
    Part Exchange Page
*****************************************
*/

.part-exchange .registration-input {
  width: 330px;
  height: 70px;
  background-color: #ffb400;
  border: 1px solid #a07800;
  border-radius: 7px;
  text-transform: uppercase;
  color: black;
  font-size: 25px;
  line-height: 25px;
  padding: 22.5px;
  max-width: 100%;
}

.part-exchange .exchange-details,
.part-exchange .no-part-exchange {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  min-height: 400px;
}

.part-exchange .exchange-details > .layout,
.part-exchange .no-part-exchange > .layout {
  border: 4px solid #f0f0f0;
}

.part-exchange .exchange-details .flex,
.part-exchange .no-part-exchange .flex {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.part-exchange .no-part-exchange {
  cursor: pointer;
}

.part-exchange .no-part-exchange h2 {
  width: 300px;
  max-width: 100%;
  white-space: normal;
  text-align: center;
}

/*
*****************************************
    End Part Exchange Page
*****************************************
*/

/*
*****************************************
    Personal Details Page
*****************************************
*/

.personal-details .details-container {
  border: 1px solid #f0f0f0;
}

.personal-details .v-text-field--outline input {
  margin: 11px 0;
}

.personal-details .v-input--is-disabled {
  pointer-events: none;
}

.personal-details .v-input--is-disabled .v-input__slot {
  border: none !important;
  padding: 0 !important;
}

.personal-details .v-input--is-disabled .v-text-field__details {
  display: none;
}

.personal-details .v-btn:not(.v-btn--depressed):not(.v-btn--flat) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*
*****************************************
    End Personal Details Page
*****************************************
*/

/*
*****************************************
    Booking Confirmation Page
*****************************************
*/

.booking-confirmation .v-card {
  background-color: transparent;
  border: 1px solid gainsboro;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.booking-confirmation .v-card .v-card__text {
  padding: 0;
}

.booking-confirmation .v-btn:not(.v-btn--depressed):not(.v-btn--flat) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.booking-confirmation .registration-confirmation {
  width: 120px;
  height: 30px;
  background-color: #ffb400;
  border: 1px solid #a07800;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-size: 16px;
  line-height: 16px;
  padding: 7px;
  max-width: 100%;
  margin: 0 auto;
}

.booking-confirmation .v-carousel {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.booking-confirmation .v-carousel .v-window__container {
  height: 200px !important;
}

.booking-confirmation .v-carousel .v-window__container .v-window-item,
.booking-confirmation .v-carousel .v-window__container .v-carousel__item {
  height: 200px !important;
}

.booking-confirmation .v-carousel .v-window-item {
  width: calc(100% - 120px);
  margin: 0 60px;
}

.booking-confirmation .v-carousel .v-carousel__controls {
  background: none;
}

/*
*****************************************
    End Booking Confirmation Page
*****************************************
*/

.r-color-picker {
  position: relative;
}

.r-color-picker .r-color-picker-content {
  position: absolute;
  width: 320px;
  background: #fff;
  height: 310px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.r-color-picker .r-color-picker-content .vc-chrome {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 0;
  width: 100% !important;
  z-index: 1;
}

.r-color-picker .r-color-picker-content .r-color-choose {
  position: absolute;
  bottom: 0;
  z-index: 2;
  right: 0;
}

.v-avatar.appointmentAvatar {
  width: 36px;
  height: 36px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 20px;
}

.appointmentSlot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


/*# sourceMappingURL=app.css.map*/