.rhino-admin-header{
    position:relative;

    .toggle-nav{
        position:absolute;
        top:20px;
        left:20px;
    }

    .brands-carousel{
        position:relative;
        width: 80px;
        height: 80px;
        border: transparent;
        border-radius: 50%;
        overflow: hidden;

        .badge{
            position: absolute;
            top: calc(50% - 10px);
            right: 2px;
            background: #444;
            height: 20px;
            text-align: center;
            line-height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }
}
