.rhino-admin-header{
    position:relative;

    .toggle-nav{
        cursor: pointer;
        position:absolute;
        top:25%;
        left:20px;
        z-index: 10;

        @media(min-width: 600px){
            top: 32%;
        }

        @media(min-width: 1264px){
            display: none!important;
        }
    }

    .brands-carousel{
        position:relative;
        max-width: 120px;
        border: transparent;
        overflow: hidden;
        margin: 0 auto;
    }
}
